<script>
  window.__myData = {
    collection_name: '{{ section.settings.collection_name }}',
    collection_description: '{{ section.settings.collection_description }}',
    images: [
      {% for block in section.blocks %}
        {% if block.type == 'image_picker' %}
        {
          src: "{{ block.settings.image.src | img_url: '1200px' }}"
          },
        {% endif %}
      {% endfor %}
      ],
      linkInfo: {
        {% for block in section.blocks %}
          {% if block.type == 'link' %}
            link_text: "{{ block.settings.link_text | escape }}",
            link_url: "{{ block.settings.link_url }}",
        {% endif %}
      {% endfor %}
    }
  }
</script>

<div id="react-collection-swiper"></div>

{% schema %}
{
  "name": "Collection Swiper",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "collection_name",
      "label": "Collection Name"
    },
    {
      "type": "textarea",
      "id": "collection_description",
      "label": "Collection Description"
    }
  ],

  "blocks": [
    {
      "type": "image_picker",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "link",
      "name": "Collection Link",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "default": "SHOP WOMENS",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        }
      ]
    }
  ],
  
  "presets": [
    {
      "name": "Collection Swiper",
      "blocks": [
        {
          "type": "link"
        },
        {
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %}